#everything {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  width: 400px;
}

button {
   margin-top: 15px;
}

.toggle-off {
  background-color: grey;
  height: 25px;
  width: 25px;
  box-sizing: border-box;
  transition: background-color 1s;
}

.toggle-on {
  background-color: black;
  height: 25px;
  width: 25px;
  box-sizing: border-box;
  transition: background-color 1s;
}